<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
    <php>
        <env name="KERNEL_CLASS" value="App\Kernel" />
    </php>
    <testsuites>
        <testsuite name="UnitTestSuite">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>